<?xml version="1.0" encoding="UTF-8"?>
<!DOCTYPE plist PUBLIC "-//Apple//DTD PLIST 1.0//EN" "http://www.apple.com/DTDs/PropertyList-1.0.dtd">
<plist version="1.0">
<dict>
	<key>CLIENT_ID</key>
	<string>580293408385-oejrja84opm1g7vijid7btmu6mbg2eqp.apps.googleusercontent.com</string>
	<key>REVERSED_CLIENT_ID</key>
	<string>com.googleusercontent.apps.580293408385-oejrja84opm1g7vijid7btmu6mbg2eqp</string>
	<key>API_KEY</key>
	<string>AIzaSyCkbPUcs1tsoTMoThi66LbBISRz6PYKPuM</string>
	<key>GCM_SENDER_ID</key>
	<string>580293408385</string>
	<key>PLIST_VERSION</key>
	<string>1</string>
	<key>BUNDLE_ID</key>
	<string>io.bluechipsport</string>
	<key>PROJECT_ID</key>
	<string>bluechipsport-6b8a9</string>
	<key>STORAGE_BUCKET</key>
	<string>bluechipsport-6b8a9.appspot.com</string>
	<key>IS_ADS_ENABLED</key>
	<false></false>
	<key>IS_ANALYTICS_ENABLED</key>
	<false></false>
	<key>IS_APPINVITE_ENABLED</key>
	<true></true>
	<key>IS_GCM_ENABLED</key>
	<true></true>
	<key>IS_SIGNIN_ENABLED</key>
	<true></true>
	<key>GOOGLE_APP_ID</key>
	<string>1:580293408385:ios:5fc6a69a1dbff093fabf80</string>
</dict>
</plist>